.content{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    height: 500px;
}

button{
    border: none;
    background: rgb(0, 47, 255);
    color: #FFF;
    padding: 5px 10px;
    cursor: pointer;
}
